#canvas {
	width: 300px;
	border: 1px solid black;
	padding: 20px;
	box-shadow: 10px 10px 10px #888888;
}

#description {
	margin-top: 10px;
	width: 280px;
	border: 1px solid black;
	padding: 10px;
}

.bold {
	font-weight: bold;
}

li {
	list-style-type: none;
}

.interesting-fact {
	font-style: italic;
}